<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body> 
<style type="text/css">
 


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

/*=====================================
estilos de la utilidad
Copiar esto
=====================================*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    border-radius: 0 0 20px 20px; 
    background-image: url('/images/perro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2); 
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
</style>
    <!--==========================
=            html            =
===========================-->
<div class="main-panel">
       <div class="container">
         <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="/data_files_/{{userU.user}}/Images/{{userU.photo}}" alt="img-avatar"> 
                </div>
                <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body"  >
            <div class="perfil-usuario-bio">
                <h5 class="titulo">{{userU.name }} {{userU.lastname}}</h5>
                <p class="texto">{{userU.description}}.</p>
            </div>
            <div class="perfil-usuario-footer"> 
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-signs"></i> {{userU.user}}</li>
                    <li><i class="icono fas fa-phone-alt"></i>{{userU.phone }}</li>
                    <li><i class="icono fas fa-briefcase"></i>{{userU.work}}</li>
                    <li><i class="icono fas fa-building"></i>{{ userU.ocupation}}</li>
                </ul> 
    
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-marker-alt"></i> <b>{{userU.direction.country}} - {{userU.direction.state}}. {{userU.direction.municipality}}</b></li>
                    <li><i class="icono fas fa-calendar-alt"></i> {{userU.birtday}}</li>
                    {{#switch userU.validation}} 
                        {{#case true}}
                            <li><i class="icono fas fa-user-check"></i> <i class="mdi verificaci칩n de cuenta mdi">This account is verified</i></li>
                        {{/case}} 
                        {{#case false}}
                            <li><i class="icono fas fa-user-check"></i> <i class="mdi verificaci칩n de cuenta mdi"> This account is not verified</li>
                        {{/case}} 
                    {{/switch}}</li>
                    <li><i class="icono fas fa-share-alt"></i> Redes sociales.</li>
                </ul>
            </div><br>
            <a href="/curriculum/{{user.user}}"><button type="button" class="btn btn-primary btn-rounded btn-fw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curriculum vitae</font></font></button></a><br>
            <div class="redes-sociales">
                {{#switch userU.facebook.status}} 
                        {{#case true}} 
                            <a href="{{userU.facebook.user_link}}"  class="boton-redes facebook fab fa-facebook-f"> </i></a>
                        {{/case}} 
                        {{#case false}}
                            <a onclick="onLogin()" class="boton-redes facebook fab fa-facebook-f"> <i class="mdi mdi-facebook"></i></a>
                        {{/case}} 
                        {{#case null}}
                            <a onclick="onLogin()" class="boton-redes facebook fab fa-facebook-f"> <i class="mdi mdi-facebook"></i></a>
                        {{/case}} 
                    {{/switch}} 
                <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
            </div>
        </div> 
<!--================PUBLICATIONS================-->
<style>
  .slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}
.slider-container {
  display: flex;
  width: 100%;
  height: 50%;
  overflow-x: scroll

  /* Vamos a a침adir esto 游녢 */
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;

  /* Vamos a a침adir esto 游녢 */
  scroll-snap-align: center;
}
.form-control{
  background-color: rgb(255, 255, 255);
  border: rgba(0, 0, 0, 0);
}
</style> 
{{#each publications}}
<div class="perfil-usuario-footer">
  <div class="card-body" style=" border-radius: 2px;"> 
  <a href="/profile/{{idUser.user}}/{{idUser._id}}">
    <img class="img-xs rounded-circle " src="/data_files_/{{idUser.user}}/Images/{{idUser.photo}}" alt="">
    <span class="count bg-success"></span> 
  </a>
  <div class="dropdown show"  style="position: relative; float: right;">  
    <button type="button" class="btn btn-xs btn-success dropdown-toggle" id="dropdownMenuIconButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="mdi mdi-heart"></i>
    </button> 
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2" style="">  
      <a class="dropdown-item" href="/chat/{{idUser.user}}/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Send a message to seller</font></font></a>
      <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Find similar</font></font></a> 
      <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reportar</font></font></a>
      </div> 
    </div>
    <br>  
    <div class="row">
      <a href="/profile/{{idUser.user}}/{{idUser._id}}"><font style="font-size: 10px; color:#000;">{{idUser.name}} {{idUser.lastname}}</font></a>
    </div>    
    <button style="position: relative; float: right;"class="btn p-0" type="button" id="cardOpt6"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <a href="/koopus/publication/{{_id}}">
      <div class="slider-container">   
        {{#each archive.images}}
          <img
            class="slider-item" 
            src="{{this}}" alt="1"
          />
        {{/each}} <br><br> 
      </div>  
   </a> 
        <p>{{description}}</p><font style="font-size: 10px; color:#000;">{{timeago datepublication}}</font>
      </div>  
<div class="btn-group" role="group" aria-label="Ejemplo b치sico">
  <button type="button" class="btn btn-outline-secondary">
    <i class="mdi mdi-heart-outline"></i>
  </button>
    <a href="/koopus/publication/{{_id}}">
      <button type="button" class="btn btn-outline-secondary">
        <i class="mdi mdi-comment-text"></i>
      </button>
    </a>
 <button type="button" class="btn btn-outline-secondary">
    <i class="mdi mdi-clock"></i>
  </button>
  <br>
</div>
<form action="/publication/{{_id}}/comment"  method="POST">
  <div class="input-group"> 
    <input type="text" name="comment" class="form-control" placeholder="Your comment" aria-label="Nombre de usuario">
      <button type="submit" class="btn btn-inverse-success btn-icon">
        <i class="mdi mdi-send"></i>
      </button>
    </div>
  </div>
  </form>

      
      <br>
{{/each}}

</div>
       </div>
<!--====  End of tarjeta  ====--> 
</div>